.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 36px;
}
.country---card{
    height: 300px;
    width: 260px;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    overflow: hidden;
    transition: all linear 0.2s;
    cursor: pointer;
    color: black;
    align-self: center;
}
.country---card.dark{
    background-color: #242424;
}
.country---card:hover{
    transform: scale(1.01);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}
.country---flag{
    overflow: hidden;
    width: 100%;
    height: 160px;
    background-color: rgb(235, 235, 235);
}
.country---flag.dark{
    background-color: rgb(200, 200, 200);
}
.country---name div{
    height: 20px;
    width: 65%;
    margin: 25px 10px;
    background-color: rgb(235, 235, 235);
}
.country---name div.dark{
    background-color: rgb(200, 200, 200);
}
.country---details div{
    height: 10px;
    width: 60%;
    margin: 10px 10px;
    background-color: rgb(235, 235, 235);
}
.country---details div.dark{
    background-color: rgb(200, 200, 200);
}
.country---details div:first-child{
    height: 10px;
    width: 45%;
    margin: 10px 10px;
    background-color: rgb(235, 235, 235);
}
.country---details div:first-child.dark{
    background-color: rgb(200, 200, 200);
}
.country---details div:last-child{
    height: 10px;
    width: 75%;
    margin: 10px 10px;
    background-color: rgb(235, 235, 235);
}
.country---details div:last-child.dark{
    background-color: rgb(200, 200, 200);
}